.landing{
	


	&__left{
	grid-column: full-start / col-start 5;
	background-color: $color-primary;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 10rem;

	@media only screen and (max-width:  $bp-medium){
	grid-column: full-start / full-end;
	justify-content: space-between;
	}
	@media only screen and (max-width:  $bp-smallest){
	 padding: 5rem;
	 justify-content:unset;
	}

	p{
	color: $color-primary-dark-2;
	font-size: 1.2rem;
	font-weight: 400;
	}

	}


	&__right{
	grid-column: col-start 5 / full-end;
	background-image: linear-gradient(-90deg,
	rgba($color-primary, 1), 50%,
	$color-primary-dark 50%);
	padding: 5rem;
	display:grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	margin-bottom: 3rem;

	@media only screen and (max-width:  $bp-medium){
	grid-column: full-start / full-end;
	grid-template-rows: repeat(2, 1fr);
	}

	}

	&__img{
		grid-column: 3/ 6;
		grid-row: 3 / 5;
		width:100%;
		object-fit: cover;
		display: block;
		box-shadow:  0 2rem 5rem rgba(#000, .2);
	}	
}