.public{
	grid-column: center-start / center-end;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
	align-items: center;
	justify-items: center;
	padding: 5rem;
	img{
		display: block;
		width: 50%;

	}

}