.heading-1{
	font-size: 4rem;
	font-weight:700;
	color: $color-primary-dark-2;
}

.heading-1-big{
	font-size: 5rem;
	font-weight:700;
	color: $color-primary-dark-2;
}


.heading-2{
	font-size: 3rem;
	font-weight:700;
	color: $color-primary-dark;
}


.heading-3{
font-size: 2rem;
color: $color-primary-dark-2;
font-weight: 700;
}

.heading-3-w{
font-size: 2rem;
color: #ffff;
font-weight: 700;
}
